<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>block界面传值.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C5EA0501D588BD7005B8CC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C5EA0691D588BD7005B8CC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C5EA0741D588BD7005B8CC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
